/* style.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0 0 9px 0;
    color: #333; /* Dark text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: 400;
}

h2 {
    margin: 0 0 7px 0;
    color: #555; /* Slightly lighter text color */
    font-size: 20px;
    font-weight: 300;
}

h3 {
    margin: 0 0 5px 0;
    color: #555; /* Slightly lighter text color */
    font-size: 18px;
    font-weight: 200;
}

h4 {
    margin: 0 0 3px 0;
    color: #555; /* Slightly lighter text color */
    font-size: 16px;
    font-weight: 200;
}

p  {
    margin: 0 0 1px 0;
    color: #666;
    font-size: 16px;
    line-height: 1.6; /* Adjust line height for readability */
}

/* button styling */
.button {
    padding: 10px 20px;
    margin: 10px 5px 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid black;
}

.button:hover {
    background-color: rgb(121, 121, 121);
    color: white; /* Darker shade for hover */
    border: 2px solid rgb(121, 121, 121);
}

/* header */
header {
    display: grid;
    grid-template-columns: 1fr auto; /* Maintain the grid layout */
    align-items: center;
    width: 100%; /* Full width */
    background: #333; /* Example background color */
    color: white; /* Example text color */
    padding: 10px 0; /* Top and bottom padding */
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 800px; /* Maximum width of content */
    margin: 0 auto; /* Centers the content horizontally */
    width: 100%; /* Use the full width of the container */
    align-items: center; /* Vertically center items */
    padding: 0; /* Left and right padding */
}

/* logo */
.logo {
    font-size: 24px;
}

/* about section - profile picture, profile content */
#about {
    background-color: #f3f3f3; /* Light background color */
    padding: 40px 0; /* Top and bottom padding */
    width: 100%; /* Full width */
    margin-bottom: 10px;
}

.profile {
    display: grid;
    grid-gap: 20px;
    max-width: 800px; /* Maximum width of content */
    margin: 0 auto; /* Centers the content horizontally */
    align-items: flex-start;
}

.profile-picture {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    overflow: hidden;
    border-radius: 50%; /* Circular shape */
}

.profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures image covers the area */
}

/* contact section */
#contact {
    background-color: #f3f3f3;
    padding: 30px;
    text-align: center;
}
    
    
    .form-group {
        max-width: 800px;
        margin: auto;
        margin-bottom: 15px;
        text-align: left;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        font-size: 16px;
        border-bottom: 2px solid #ddd;
        background-color: transparent;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .form-group input[type="text"]:focus,
    .form-group input[type="email"]:focus,
    .form-group textarea:focus {
        outline: none;
        border-bottom: 2px solid #333; /* Darker border on focus */
    }
    
    .form-group textarea {
        height: 45px;
        resize: vertical;
    }

/* >768px screens */
@media (min-width: 768px) {
    /* logo */
    .logo {
        padding: 0 0 0 0px;
    }
    
    /* navigation */
    .nav-menu {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        background: transparent;
    }

    .nav-menu ul {
        padding: 0;
        margin: 0;
        display: flex;
    }

    .nav-menu ul li {
        display: inline-block;
        padding-left: 10px;
    }

    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
    }

    /* navigation - nav-burger menu button - hide on >768px */
    .nav-burger, .nav-close {
        display: none;
    }
    
    /* about section - profile picture, profile content */
    .profile {
        grid-template-columns: auto 1fr;
        padding: 0 10px; /* Left and right padding */
    }
}

@media (max-width: 768px) {
    /* logo */
    .logo {
        padding: 0 0 0 25px;
    }
    
    /* navigation */
    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 30px 0 0 0;
        width: 100%;
        height: 100%;
        align-items:flex-start;
        justify-content:flex-start;
        background: rgba(0, 0, 0, 0.9);
        color: white;
    }

    .nav-menu ul {
        list-style: none;
        padding-left: 15px;
        font-size: 24px;
    }
    
    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
    }

    /* navigation - nav-burger menu button */
    .nav-burger, .nav-close {
        display: block;
        background: none;
        padding-right: 25px;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-close {
        position: absolute;
        top: 5px;
        right: 0px;
        font-size: 32px;
    }

    .nav-burger:focus + .nav-menu, .nav-menu:target {
        display: flex;
    }
    
    /* about section - profile picture, profile content */
    .profile {
        grid-template-columns: 1fr;
        max-width: 800px;
        margin: 0;
        padding: 0 25px 0 25px;
        text-align:center;
    }

    .profile-picture {
        margin: auto;
    }
}