/* style.css */
/* ------------------------------- Reset Defaults ------------------------------ */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* ---------------------------------- Headings --------------------------------- */
h1 {
    margin: 0 0 9px 0;
    color: #333; /* Dark text color */
    font-size: 48px; /* Adjust font size as needed */
    font-weight: 600;
}

h2 {
    margin: 0 0 7px 0;
    color: #555; /* Slightly lighter text color */
    font-size: 24px;
    font-weight: 500;
}

h3 {
    margin: 0 0 5px 0;
    color: #555; /* Slightly lighter text color */
    font-size: 20px;
    font-weight:lighter;
}

h4 {
    margin: 0 0 3px 0;
    color: #777; /* Slightly lighter text color */
    font-size: 16px;
    font-weight: 300;
}

p  {
    margin: 0 0 1px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.6; /* Adjust line height for readability */
}
/* ----------------------------------- Button ---------------------------------- */
.button {
    padding: 10px 20px;
    margin: 10px 5px 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid black;
}

.button:hover {
    background-color: rgb(121, 121, 121);
    color: white; /* Darker shade for hover */
    border: 2px solid rgb(121, 121, 121);
}
/* ----------------------------------- Header ---------------------------------- */
header {
    background: #333; /* Example background color */
    color: white; /* Example text color */
    padding: 10px 0 10px 0; /* Top and bottom padding */
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr auto);
    max-width: 800px;
    margin: auto;
    align-items: center;
}
/* ------------------------------------ Logo ----------------------------------- */
.logo {
    font-size: 24px;
}
/* ------------------------------- About Section ------------------------------- */
#about {
    background-color: #f3f3f3;
    padding: 20px 30px 20px 30px;
    margin: 0 0 10px 0;
    text-align: left;
}
.about-grid {
    display: grid;
    grid-template-rows: repeat(1, 125px 1fr);
    grid-gap: 15px;
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-info p.bio {
    text-align: left;
}
/* ------------------------------- Work Section -------------------------------- */
#work {
    padding: 20px;
    background-color: #f3f3f3; /* Adjust background color as needed */
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item:hover .overlay {
    opacity: 1;
}

/* Styling for the hero grid item */
.hero {
    grid-column: span 2; /* Hero item spans two columns */
}
/* ------------------------------ Contact Section ------------------------------ */
#contact {
    background-color: #f3f3f3;
    padding: 20px 30px 20px 30px;
    text-align: center;
/*  margin: 0 0 10px 0;  */ /* To add a space between the next section */
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    max-width: 800px;
    margin: auto;
}

.contact-form {
    margin-bottom: 15px;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 0 0px 0;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
    border-bottom: 2px solid #333;
}

.contact-form textarea {
    height: 45px;
    resize: vertical;
}
/* ----------------------------------- Footer --------------------------------- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: auto;
    gap: 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0 0 1px 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.6; /* Adjust line height for readability */
}

.footer-section a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.6;
}

.footer-section a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    grid-column: span 3; /* Makes the bottom footer span all columns */
}
/* ------------------------------- >768px Screen ------------------------------- */
@media (min-width: 768px) {
/* ------------------------------------ Logo ----------------------------------- */
    .logo {
        padding: 0 0 0 0px;
    }
/* --------------------------------- Navigation -------------------------------- */
    .nav-menu {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        background: transparent;
    }

    .nav-menu ul {
        padding: 0;
        margin: 0;
        display: flex;
    }

    .nav-menu ul li {
        display: inline-block;
        padding-left: 10px;
    }

    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
    }

/* --------------------------------- Nav Burger -------------------------------- */
    .nav-burger, .nav-close {
        display: none;
    }
}
/* ------------------------------- <768px Screen ------------------------------- */
@media (max-width: 768px) {
/* ------------------------------------ Logo ----------------------------------- */
    .logo {
        padding: 0 0 0 25px;
    }
/* --------------------------------- Navigation -------------------------------- */
    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 30px 0 0 0;
        width: 100%;
        height: 100%;
        align-items:flex-start;
        justify-content:flex-start;
        background: rgba(0, 0, 0, 0.9);
        color: white;
    }

    .nav-menu ul {
        list-style: none;
        padding-left: 15px;
        font-size: 24px;
    }
    
    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
/* --------------------------------- Nav Burger -------------------------------- */
    .nav-burger, .nav-close {
        display: block;
        background: none;
        padding-right: 25px;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-close {
        position: absolute;
        top: 5px;
        right: 0px;
        font-size: 32px;
    }

    .nav-burger:focus + .nav-menu, .nav-menu:target {
        display: flex;
    }
/* ------------------------------- Work Section -------------------------------- */
    .work-grid {
        grid-template-columns: 1fr; /* Single column on small screens */
    }

    .hero {
        grid-column: auto; /* Revert to default on small screens */
    }
/* ----------------------------------- Footer --------------------------------- */
    .footer-grid {
        grid-template-columns: 1fr;
    }
}